/* Estilo para el título DOMO */
.title {
    font-size: 36px;
    font-weight: bold;
    font-family: "serif";
    padding-bottom: 100px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    position: fixed; 
    top: 0;          
    left: 0;         
    right: 0;        
    background-color: #ffffff;  
    z-index: 1000;    /* Asegura que el título quede encima de otros elementos */
    padding: 10px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  }
  
  .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fdfdfd;
    box-sizing: border-box;
    padding-top: 80px;
  }
  
  /* Estilo para el contenedor de los pasos */
  .ant-steps {
    position: absolute; 
    top: 60px;     
    left: 50%;
    transform: translateX(-50%); 
    width: 90%;     
    max-width: 800px;  
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ant-form {
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
  }
  
  /* Estilo para las opciones de dispositivos */
  .ant-select {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .ant-form-item {
    margin-bottom: 24px;
  }
  
  .ant-btn {
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo para el contenedor de la cámara en el registro */
.camera-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
  
  .camera-container .webcam {
    width: 100%;  /* Ajustar al contenedor */
    max-width: 250px; /* Reducir el tamaño */
    height: auto; /* Mantener la proporción */
    aspect-ratio: 4 / 3; /* Mantener un tamaño más estándar */
}
  
  .camera-container .webcam iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .ant-form-item-label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
  }
  
  .ant-input,
  .ant-input-password {
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
  }
